/* styles.css */

.bg-car {
    background-image: url('https://i.pinimg.com/736x/78/68/88/7868888d3c6be15ce03ef535c358c716.jpg');
    background-size: cover;
    background-position: center;
  }
  .login-maincontainer{
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin-top: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .login-title {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #007bff;
  }
  .background-container {
    background-image: url('https://i.pinimg.com/736x/78/68/88/7868888d3c6be15ce03ef535c358c716.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
.alredy{
    display: flex;
}
.top{
    margin-top: 3%;
    margin-left: 3%;
}

.signup-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.signup-container label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.signup-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.signup-container input:focus {
    border-color: #007bff;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-container button:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}